/*
primary color:#23d789
secondary color:#F62459
*/

/*-------- Reuseble code -----*/

body {
    font-family: 'Lato',sans-serif;
    background: #fafafa;
    color: #333;
    line-height: 1rem;
    overflow-x: hidden;
}

section {
    background-color: #fafafa;
    position: relative;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lora',serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
    color:#555;
}

a,a:active,a:focus,a:hover {

    text-decoration: none;
    color: #fff;
    outline: none;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    text-align: center;
}

/*-----Header----*/

header {
    background-color: #777;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    color: #fff;
}
header .desktop-nav {
    padding-right: 0;
}

.logo  {
    padding: 0;
}

.logo a {
    width: 100%;
    height: 100%;
}

.logo a img {
    width: 100%;
    height: auto;
}
nav .nav {
    display: block;
    padding: 0;
}

.nav ul {
   position: absolute;
   right: 20px;
}

.nav ul li {
    position:relative;
    padding:0 10px;
}

nav ul li a {
    text-transform: uppercase;
    font-size:14px;
    padding:0 !important;
    transition:all 0.5s ease-in;
}

nav ul li a:not(.social-links):hover {
    color: #afafaf;
    
}

.socials a {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background:rgba(255, 255, 255, 0.301);
    vertical-align: middle;
    margin-right: 3px;
}

.socials a:hover {
    background: #23d789;
}

.socials a i {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 36px;
  
}
